<form class="form-inline email-section">
    <div class="container d-none d-lg-block">
        <div class="row">
            <div class="col-lg-4 mb-2 text-right mr-3 form-text">
                NEWSLETTER:
            </div>
            <div class="col-lg-5 form-group mb-2">
                <i class="fas fa-envelope email-icon"></i>
                <input type="password" class="email-form" id="inputPassword2" placeholder="Enter your email address">
            </div>

            <button type="submit" class="col-lg-3 btn btn-primary mb-2 email-button">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="container d-none d-md-block d-lg-none">
        <div class="row">
            <div class="col-md-7 form-group mb-2">
                <i class="fas fa-envelope email-icon"></i>
                <input type="password" class="email-form" id="inputPassword2" placeholder="Enter your email address">
            </div>

            <button type="submit" class="col-md-5 btn btn-primary mb-2 email-button">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>
    </div>
</form>
