<section class="slider">
    <div class="container">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                    <div class="row">
                        <div class="col-10 latest-blog-header">
                            <h3 class="text-uppercase latest-title">latest blog</h3>
                            <div class="yellow-block"></div>
                        </div>
                        <div class="col-2">
                            <ol class="carousel-indicators">
                                <li class="col-lg-3" data-target="#blogCarousel" data-slide-to="0" class="active">
                                </li>
                                <li class="col-lg-3" data-target="#blogCarousel" data-slide-to="1"></li>
                                <li class="col-lg-3" data-target="#blogCarousel" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center col-md-6 col-lg-4">
                                    <a href="#">
                                        <img class="item-box-blog-image" src="../img/blog/1.jpg" alt="Image">
                                        <div class="item-box-text">
                                            <div class="d-flex">
                                                <div class="d-flex ml-4 ">
                                                    <i class="fas fa-calendar-alt pr-2"></i>
                                                    <div class="">15 jan 2016</div>
                                                </div>
                                                <div class="d-flex comments">
                                                    <i class="fas fa-comments pr-2"></i>
                                                    <div class="">4 Comments</div>
                                                </div>
                                            </div>
                                            <h4 class="item-box-title">Products That Fight Static </h4>
                                            <p class="pt-4 item-box-paragraph">
                                                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                                                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                                vehicula, rutrum magna in, ornare enim.
                                            </p>
                                            <button class="read-more">Read More</button>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 d-flex justify-content-center col-md-6 col-lg-4">
                                    <a href="#">
                                        <img class="item-box-blog-image" src="../img/blog/2.jpg" alt="Image">
                                        <div class="item-box-text">
                                            <div class="d-flex">
                                                <div class="d-flex ml-4 ">
                                                    <i class="fas fa-calendar-alt pr-2"></i>
                                                    <div class="">15 jan 2016</div>
                                                </div>
                                                <div class="d-flex comments">
                                                    <i class="fas fa-comments pr-2"></i>
                                                    <div class="">4 Comments</div>
                                                </div>
                                            </div>
                                            <h4 class="item-box-title">Products That Fight Static </h4>
                                            <p class="pt-4 item-box-paragraph">
                                                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                                                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                                vehicula, rutrum magna in, ornare enim.
                                            </p>
                                            <button class="read-more">Read More</button>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 d-flex justify-content-center col-md-6 col-lg-4">
                                    <a href="#">
                                        <img class="item-box-blog-image" src="../img/blog/3.jpg" alt="Image">
                                        <div class="item-box-text">
                                            <div class="d-flex">
                                                <div class="d-flex ml-4 ">
                                                    <i class="fas fa-calendar-alt pr-2"></i>
                                                    <div class="">15 jan 2016</div>
                                                </div>
                                                <div class="d-flex comments">
                                                    <i class="fas fa-comments pr-2"></i>
                                                    <div class="">4 Comments</div>
                                                </div>
                                            </div>
                                            <h4 class="item-box-title">Products That Fight Static </h4>
                                            <p class="pt-4 item-box-paragraph">
                                                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                                                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                                vehicula, rutrum magna in, ornare enim.
                                            </p>
                                            <button class="read-more">Read More</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center col-md-6 col-lg-4">
                                    <a href="#">
                                        <img class="item-box-blog-image" src="../img/blog/4.jpg" alt="Image">
                                        <div class="item-box-text">
                                            <div class="d-flex">
                                                <div class="d-flex ml-4 ">
                                                    <i class="fas fa-calendar-alt pr-2"></i>
                                                    <div class="">15 jan 2016</div>
                                                </div>
                                                <div class="d-flex comments">
                                                    <i class="fas fa-comments pr-2"></i>
                                                    <div class="">4 Comments</div>
                                                </div>
                                            </div>
                                            <h4 class="item-box-title">Products That Fight Static </h4>
                                            <p class="pt-4 item-box-paragraph">
                                                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                                                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                                vehicula, rutrum magna in, ornare enim.
                                            </p>
                                            <button class="read-more">Read More</button>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 d-flex justify-content-center col-md-6 col-lg-4">
                                    <a href="#">
                                        <img class="item-box-blog-image" src="../img/blog/5.jpg" alt="Image">
                                        <div class="item-box-text">
                                            <div class="d-flex">
                                                <div class="d-flex ml-4 ">
                                                    <i class="fas fa-calendar-alt pr-2"></i>
                                                    <div class="">15 jan 2016</div>
                                                </div>
                                                <div class="d-flex comments">
                                                    <i class="fas fa-comments pr-2"></i>
                                                    <div class="">4 Comments</div>
                                                </div>
                                            </div>
                                            <h4 class="item-box-title">Products That Fight Static </h4>
                                            <p class="pt-4 item-box-paragraph">
                                                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                                                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                                vehicula, rutrum magna in, ornare enim.
                                            </p>
                                            <button class="read-more">Read More</button>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 d-flex justify-content-center col-md-6 col-lg-4">
                                    <a href="#">
                                        <img class="item-box-blog-image" src="../img/blog/6.jpg" alt="Image">
                                        <div class="item-box-text">
                                            <div class="d-flex">
                                                <div class="d-flex ml-4 ">
                                                    <i class="fas fa-calendar-alt pr-2"></i>
                                                    <div class="">15 jan 2016</div>
                                                </div>
                                                <div class="d-flex comments">
                                                    <i class="fas fa-comments pr-2"></i>
                                                    <div class="">4 Comments</div>
                                                </div>
                                            </div>
                                            <h4 class="item-box-title">Products That Fight Static </h4>
                                            <p class="pt-4 item-box-paragraph">
                                                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                                                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                                vehicula, rutrum magna in, ornare enim.
                                            </p>
                                            <button class="read-more">Read More</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center col-md-6 col-lg-4">
                                    <a href="#">
                                        <img class="item-box-blog-image" src="../img/blog/7.jpg" alt="Image">
                                        <div class="item-box-text">
                                            <div class="d-flex">
                                                <div class="d-flex ml-4 ">
                                                    <i class="fas fa-calendar-alt pr-2"></i>
                                                    <div class="">15 jan 2016</div>
                                                </div>
                                                <div class="d-flex comments">
                                                    <i class="fas fa-comments pr-2"></i>
                                                    <div class="">4 Comments</div>
                                                </div>
                                            </div>
                                            <h4 class="item-box-title">Products That Fight Static </h4>
                                            <p class="pt-4 item-box-paragraph">
                                                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                                                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                                vehicula, rutrum magna in, ornare enim.
                                            </p>
                                            <button class="read-more">Read More</button>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 d-flex justify-content-center col-md-6 col-lg-4">
                                    <a href="#">
                                        <img class="item-box-blog-image" src="../img/blog/8.jpg" alt="Image">
                                        <div class="item-box-text">
                                            <div class="d-flex">
                                                <div class="d-flex ml-4 ">
                                                    <i class="fas fa-calendar-alt pr-2"></i>
                                                    <div class="">15 jan 2016</div>
                                                </div>
                                                <div class="d-flex comments">
                                                    <i class="fas fa-comments pr-2"></i>
                                                    <div class="">4 Comments</div>
                                                </div>
                                            </div>
                                            <h4 class="item-box-title">Products That Fight Static </h4>
                                            <p class="pt-4 item-box-paragraph">
                                                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                                                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                                vehicula, rutrum magna in, ornare enim.
                                            </p>
                                            <button class="read-more">Read More</button>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 d-flex justify-content-center col-md-6 col-lg-4">
                                    <a href="#">
                                        <img class="item-box-blog-image" src="../img/blog/9.jpg" alt="Image">
                                        <div class="item-box-text">
                                            <div class="d-flex">
                                                <div class="d-flex ml-4 ">
                                                    <i class="fas fa-calendar-alt pr-2"></i>
                                                    <div class="">15 jan 2016</div>
                                                </div>
                                                <div class="d-flex comments">
                                                    <i class="fas fa-comments pr-2"></i>
                                                    <div class="">4 Comments</div>
                                                </div>
                                            </div>
                                            <h4 class="item-box-title">Products That Fight Static </h4>
                                            <p class="pt-4 item-box-paragraph">
                                                Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus
                                                nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim
                                                vehicula, rutrum magna in, ornare enim.
                                            </p>
                                            <button class="read-more">Read More</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->

            </div>
        </div>
    </div>
</section>