<div class="stocks">
    <div class="container">
        <div class="row d-flex justify-content-lg-between">
            <a href="#" class="d-none d-sm-none d-md-block col-lg-6 guest-room-sofa">
                <!-- <img class="img-fluid sofa-img" src="./img/stocks/1.jpg" alt="guest-room-sofa"> -->
                <div class="sofa-opacity mx-1">
                    <ul class="list-unstyled ml-3 align-content-end my-4 py-4">
                        <li class="text-white text-uppercase guest-room">guest room</li>
                        <li class="text-white text-uppercase sofa pb-4">sofa</li>
                        <li class="text-white text-uppercase border border-light d-inline px-2 sale">-20%</li>
                    </ul>
                </div>
            </a>
            <div class="col-12 col-lg-6 chair-block-right">
                <a href="#" class="row chair-block">
                    <img class="col-3 stocks-img-2" src="./img/stocks/2.png" alt="office-chair-collection">
                    <div class="col-5">
                        <div class="d-flex">
                            <div class="text-dark text-uppercase font-weight-bold office">office</div>
                            <div class="text-dark text-uppercase pl-2 chair">chair</div>
                        </div>
                        <div class="text-dark text-uppercase font-weight-bold collection">collection</div>
                        <p class="text-uppercase mt-2 sale-price">$200.00</p>
                    </div>
                    <img class="col-4 stocks-img" src="./img/stocks/3.png" alt="office-chair-collection">
                </a>
                <a href="#" class="row special-block mt-4">
                    <div class="col-4 stocks-img stocks-img-bed"></div>
                    <div class="col-8 special-text align-items-end">
                        <div class="d-flex justify-content-center special-block-yellow">
                            <div class="text-uppercase font-weight-bold">special</div>
                            <div class="text-uppercase pl-2">collection</div>
                        </div>
                        <div class="text-dark special-text-dark mt-2 text-center text-uppercase save-money">save up 45% of furniture</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>