.slider {
    margin-top: 60px;
    margin-bottom: 60px;
}
.carousel-inner {
    position: relative;
}
.carousel-item-box {
    margin: 0 auto !important;
}
.latest-title {
    font-family: $font-family;
    font-size: 20px;
    color: $base-color;
    padding-bottom: 10px;
    border-bottom: 3px solid #e5e5e5;
    padding-bottom: 10px;
    margin-top: -55px;
    position: relative;
}
.yellow-block {
    position: absolute;
    width: 44px;
    height: 3px;
    background-color: $base-color;
    top: -25px;
}
.item-box-blog-image {
    width: 360px;
    height: 290px;
}
.blog .carousel-indicators {
    position: absolute;
    top: -35px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #707070;
    border-radius: 50%;
    width: 0;
    max-height: 4px;
}

.blog .carousel-indicators .active {
    background: $base-color;
}

.item-box-text {
    width: 300px !important;
    color: #313131 !important;
    position: relative;
    background-color: #fff;
    padding: 27px 0;
    top: -70px;
    font-family: $font-family;
    font-size: 13px;
    margin-left: 30px;
    margin-bottom: -80px !important;
}
.comments {
    margin-left: 54px;
}
.item-box-title {
    padding-top: 44px;
    font-size: 16px;
    color: $base-color;
    font-weight: 600;
}
.item-box-paragraph {
    font-size: 14px;
    line-height: 24px;
}
.read-more {
    color: #fff;
    padding: 17px 40px;
    background-color: #2a2a2a;
    border-radius: 5px;
    margin-top: 38px;
    margin-left: 68px;
}
.read-more:hover {
    background-color: $base-color;
}